@model IEnumerable<SEP_SAC.Models.Procedimiento>

@{
    Layout = "~/Views/Shared/Admin.cshtml";
    ViewBag.Title = "Index";
}

<!-- Bradcrumbs -->
<div class="container">
    <div class="row" style="margin-top: 15px;">
        <div class="col s12 breadcrumbs">
            <a href="/admin">Admin</a> > <span>Tipos de Procedimiento</span>
        </div>
    </div>
</div>
<!-- Fin de bradcrumbs -->


<div class="container">

    <div class="row">
        <div class="col s12 center-align">
            <h1>Tipo de procedimientos</h1>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <table class="bordered striped highlight centered">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Acciones</th>
                    </tr>
                </thead>



                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(item.nombre, "Details", new { id = item.id })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.creacion)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.id }) |
                            @Html.ActionLink("Ver detalles", "Details", new { id = item.id }) |
                            @Html.ActionLink("Borrar", "Delete", new { id = item.id })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>

    <div class="row">
        <div class="col s12 right-align">
            <a href="~/Procedimientos/create" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
    </div>

</div>