@using (Html.BeginForm("Desechar", "Admin"))
{
    @Html.AntiForgeryToken()
    <div id="desechar" class="modal modal-fixed-footer">
        <div class="modal-content">

            <div class="row" style="margin-top:30px;">
                <div class="col m6 s12">

                    <div class="row">
                        <div class="col s12">
                            <span class="card-title"><img src="/img/usuario-logo-negro.png" style="width:35px; vertical-align:middle;">&nbsp;&nbsp;Datos del solicitante</span>
                        </div>
                    </div>

                    <input type="hidden" name="solicitud_id" value="@Model.id" />

                    <div class="row">
                        <div class="col s12 input-field">

                            <input type="text" name="nombre" value="@Model.Solicitante.Datos.nombre @Model.Solicitante.Datos.primer_apellido @Model.Solicitante.Datos.segundo_apellido" disabled />
                            <label>Nombre del solicitante</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12 input-field">
                            <input type="text" name="nivel" value="@Model.Perfiles1.Niveles.nombre" disabled />
                            <label>Nivel</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12 input-field">
                            <input type="text" name="perfil" value="@Model.Perfiles1.nombre" disabled />
                            <label>Perfil</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12 input-field">
                            <input type="text" name="entidad_federativa" value="@Model.entidad_federativa" disabled />
                            <label>Entidad Federativa</label>
                        </div>
                    </div>

                </div>

                <div class="col m6 s12">

                    <div class="row">
                        <div class="col s12">
                            <span class="card-title"><img src="/img/acuerdo-icono.png" style="height:30px; vertical-align:middle;">&nbsp;&nbsp;Datos del acuerdo</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12 input-field">
                            <input type="text" name="fecha" value="@DateTime.Now.Day/@DateTime.Now.Month/@DateTime.Now.Year" disabled />
                            <label>Fecha</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12 input-field">
                            <input type="text" name="jefe_departamento" id="DesechamientoJefeDepartamento" />
                            <label for="DesechamientoJefeDepartamento">Jefe del departamento</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12 input-field">
                            <input type="text" name="cargo" id="DesechamientoCargo" />
                            <label for="DesechamientoCargo">Cargo</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12 input-field">
                            <textarea name="documentos_faltantes" id="DesechamientoDocumentosFaltantes" class="materialize-textarea"></textarea>
                            <label for="DesechamientoDocumentosFaltantes">Documentos Faltantes</label>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal-footer fondo-rojo">
            <span style="padding-top:12px; display:inline-block;" class="white-text">REASIGNACIÓN A COLEGIO DE PROFESIONISTAS</span>
            <button id="submit-instancia" class="btn" type="submit">Proceder</button>
        </div>
    </div>
}



@using (Html.BeginForm("AsignarColegio", "Admin"))
{
    @Html.AntiForgeryToken()
    <div id="reasignar" class="modal modal-fixed-footer">
        <div class="modal-content">

            <div class="row" style="margin-top:30px;">
                <div class="col m6 s12">

                    <div class="row">
                        <div class="col s12">
                            <span class="card-title"><img src="/img/usuario-logo-negro.png" style="width:35px; vertical-align:middle;">&nbsp;&nbsp;Datos del solicitante</span>
                        </div>
                    </div>

                    <input type="hidden" name="solicitud_id" value="@Model.id" />

                    <div class="row">
                        <div class="col s12 input-field">

                            <input type="text" name="nombre" value="@Model.Solicitante.Datos.nombre @Model.Solicitante.Datos.primer_apellido @Model.Solicitante.Datos.segundo_apellido" disabled />
                            <label>Nombre del solicitante</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12 input-field">
                            <input type="text" name="nivel" value="@Model.Perfiles1.Niveles.nombre" disabled />
                            <label>Nivel</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12 input-field">
                            <input type="text" name="perfil" value="@Model.Perfiles1.nombre" disabled />
                            <label>Perfil</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12 input-field">
                            <input type="text" name="entidad_federativa" value="@Model.entidad_federativa" disabled />
                            <label>Entidad Federativa</label>
                        </div>
                    </div>

                </div>

                <div class="col m6 s12">

                    <div class="row">
                        <div class="col s12">
                            <span class="card-title"><img src="/img/acuerdo-icono.png" style="height:30px; vertical-align:middle;">&nbsp;&nbsp;Datos del acuerdo</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12 input-field">
                            <input type="text" name="fecha" value="@DateTime.Now.Day/@DateTime.Now.Month/@DateTime.Now.Year" disabled />
                            <label>Fecha</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12 input-field">
                            <input type="text" name="jefe_departamento" id="ColegioJefeDepartamento" />
                            <label for="ColegioJefeDepartamento">Jefe del departamento</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12 input-field">
                            <input type="text" name="cargo" id="ColegioCargo" />
                            <label for="ColegioCargo">Cargo</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12 input-field">
                            <input type="text" name="antecedente" id="ColegioAntecedente" />
                            <label for="ColegioAntecedente">Antecedente del nivel de estudios</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12 input-field">
                            <input type="text" name="periodo" id="ColegioPeriodo" />
                            <label for="ColegioPeriodo">Periodo</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12 input-field">
                            @Html.DropDownList("colegio_id", null, "Instancia a asignar", htmlAttributes: new { })
                            <label>
                                Colegio de Profesionisas
                                <label id="label-instancia" for="ColegioColegioId" style="display:none;" class="error">* Requerido</label>
                            </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12 input-field">
                            <input type="text" name="destinatario" id="ColegioDestinatario" />
                            <label for="ColegioDestinatario">Destinatario</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12 input-field">
                            <input type="text" name="puesto" id="ColegioPuesto" />
                            <label for="ColegioPuesto">Puesto del destinatario</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12 input-field">
                            <input type="text" name="universidad" id="ColegioUniversidad" />
                            <label for="ColegioUniversidad">Universidad</label>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal-footer fondo-verde">
            <span style="padding-top:12px; display:inline-block;" class="white-text">REASIGNACIÓN A COLEGIO DE PROFESIONISTAS</span>
            <button id="submit-instancia" class="btn" type="submit">Proceder</button>
        </div>
    </div>
}