@model SEP_SAC.Models.Niveles

@{
    Layout = "~/Views/Shared/Admin.cshtml";
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Niveles</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.creacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.creacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Procedimientos.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Procedimientos.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
