@model SEP_SAC.Models.Perfil

@{
    ViewBag.Title = "CrearPefil";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<!-- Bradcrumbs -->
<div class="container">
    <div class="row" style="margin-top: 15px;">
        <div class="col s12 breadcrumbs">
            <a href="/admin">Admin</a> > <a href="/Admin/Procedimientos/">Procedimientos</a> > <a href="/Admin/Procedimiento/@ViewBag.id_procedimiento">@ViewBag.nombre_procedimiento</a> > <a href="/Admin/Nivel/@ViewBag.id">@ViewBag.nombre_nivel</a> > <span>Agregar perfil</span>
        </div>
    </div>
</div>
<!-- Fin de bradcrumbs -->

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <input type="hidden" value="@ViewBag.id" name="nivel_id" id="nivel_id" />

    <div class="container">

        <div class="row">
            <div class="s12 col center-align">
                <h1>Agregar Perfil</h1>
            </div>
        </div>

        <div class="row">
            <div class="s12 col input-field">
                @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "" } })
            </div>
        </div>

        <div class="row">
            <div class="s12 col">
                <input type="submit" value="Agregar" class="btn" />
            </div>
        </div>

    </div>
}